{{=@@ @@=}}
%% -*- mode: erlang -*-
{deps,
    [ %% not all plugins have to depend on emqx
      %% but if they do, use git_subdir in the default profile
      {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.0"}, "apps/emqx"}}
    , {emqx_ctl, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.0"}, "apps/emqx_ctl"}}
    , {emqx_utils, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.1.0"}, "apps/emqx_utils"}}
      %% this is my plugin's dependency
    , {map_sets, "1.1.0"}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}}
]}.

{erl_opts, [debug_info]}.

{relx, [ {release, {@@name@@, "@@version@@"}, %% this is the release version, different from app vsn in .app file
            [ @@name@@
            , map_sets
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       ]}.

%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["@@author_name@@"]}
    , {builder,
        [ {name, "@@author_name@@"}
        , {contact, "@@author_email@@"}
        , {website, "@@author_website@@"}
        ]}
    , {repo, "@@repo@@"}
    , {functionality, ["Demo"]}
    , {compatibility,
        [ {emqx, "~> 5.0"}
        ]}
    , {description, "@@description@@"}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.
