{deps,
    [ %% not all plugins have to depend on emqx
      %% but if they do, use git_subdir in the default profile
      {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {branch, "master"}, "apps/emqx"}}
      %% this is my plugin's dependency
    , {map_sets, "1.1.0"}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}}
]}.

{erl_opts, [debug_info]}.

{relx, [ {release, {emqx_plugin_template, "5.0.0-rc.3"}, %% this is the release version, different from app vsn in .app file
            [ emqx_plugin_template
            , map_sets
            ]}
       , {dev_mode, false}
       , {include_erts, false}
       ]}.

%% Additional info of the plugin
{emqx_plugrel,
    [ {authors, ["EMQX Team"]}
    , {builder,
        [ {name, "EMQX Team"}
        , {contact, "emqx-support@emqx.io"}
        , {website, "www.emqx.com"}
        ]}
    , {repo, "https://github.com/emqx/emqx-plugin-template"}
    , {functionality, ["Demo"]}
    , {compatibility,
        [ {emqx, "~> 5.0"}
        ]}
    , {description, "This is a demo plugin"}
    ]
}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,warnings_as_errors,deprecated_functions]}.
