{deps,
    [   %% not all plugins have to depend on emqx
        %% but if they do, use git_subdir in the default profile
        {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {branch, "master"}, "apps/emqx"}}
        %% for dependencies to be released as a part of
        %% the plugin release, add them as per-profile dependencies like map_sets below
    ]}.

{profiles,
    [ {emqx_plugin_rel,
        [
            {deps, [
                %% my release-dependencies here
                %% map_sets here is just for demo
                {map_sets, "1.1.0"}
            ]}
        ]},
      {test,
        [
            {deps, [
                %% I probably need all my deps for test too
                {map_sets, "1.1.0"}
            ]}
        ]}
    ]}.

{erl_opts, [debug_info]}.
