{{=@@ @@=}}
%% -*- mode: erlang -*-
{deps, [
    {emqx_plugin_helper,
        {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.0"}}},
    %% this is my plugin's dependency
    {map_sets, "1.1.0"}
]}.

{plugins, [
    {emqx_plugin_helper,
        {git, "https://github.com/emqx/emqx-plugin-helper.git", {tag, "v5.9.0"}}},
    {erlfmt, "1.6.0"}
]}.

{erl_opts, [debug_info]}.

%% this is the release version, different from app vsn in .app file
{relx, [
    {release, {@@name@@, "@@version@@"}, [
        @@name@@,
        emqx_plugin_helper,
        map_sets
    ]},
    {dev_mode, false},
    {include_erts, false},
    {include_src, false}
]}.

%% Additional info of the plugin
{emqx_plugrel, [
    {authors, ["@@author_name@@"]},
    {builder, [
        {name, "@@author_name@@"},
        {contact, "@@author_email@@"},
        {website, "@@author_website@@"}
    ]},
    {repo, "@@repo@@"},
    {functionality, ["Demo"]},
    {compatibility, [{emqx, "~> 5.7"}]},
    {description, "@@description@@"}
]}.
